
<tr>
    <td>
      <%= comment.commenter %>
    </td>

    <td>

      <%= comment.body %>
    </td>

    <td>
        <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
    </td>

    <td>
      <%= link_to 'Destroy', article_comment_path(@article, comment),
                   method: :delete,
                  data: { confirm: 'Are you sure?'} %>
    </td>

</tr>

