<h1><%= @user.email %></h1>

<%= render partial: 'frontend/shared/photos', locals: { photos: @photos } %>

<br>
<br>

<%= render partial: 'frontend/shared/posts', locals: { posts: @posts, user: @user } %>
