<h1><%= @user.email %></h1>

<%= link_to "Update Profile", edit_user_registration_path(@user) %>

<br>
<br>

Photos:
<% @photos.each do |photo| %>
    <br>
    <%= image_tag(photo.image.url(:thumb))%>
    <br>
<% end %>

<br>
<br>

<%= render partial: 'frontend/shared/posts', locals: { posts: @posts, user: @user } %>
