<h2>Admin Profile</h2>
<%= @user.email %>
<%= link_to "Sign out", destroy_user_session_path %>

<br>
<br>

<%= link_to "Articles", admin_articles_path %>

<br>
<br>

<h2>Articles</h2>
<table>
  <tr>
    <th><strong>Title</strong></th>
    <th><strong>Content</strong></th>
  </tr>
  <%= render @user.articles %>
</table>