<h2>Admin Profile</h2>

<%= @user.email %>

<%= link_to "Sign out", destroy_user_session_path %>
<br>
<br>

<%= link_to "Posts", admin_posts_path %>
<br>
<br>

<%= render partial: 'admin/shared/posts', locals: { posts: @posts } %>
