<p>
	<strong>Article Title:</strong>
	<%= @post.title %>
</p>

<p>
	<strong>Article Text:</strong>
	<%= @post.text %>
</p>

<h2>Comments</h2>
<table>
  <tr>
    <th><strong>Commenter</strong></th>
    <th><strong>Comment</strong></th>
  </tr>
  <%= render @post.comments %>
</table>

<h2>Add a comment</h2>
<%= render "comments/form" %>
